<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA5ZiGwIh7zQRms61jGKNq_HNJayqbvomM</string>
	<key>GCM_SENDER_ID</key>
	<string>1007399282242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eshop.seller.multivendor</string>
	<key>PROJECT_ID</key>
	<string>sellerapp-4b96d</string>
	<key>STORAGE_BUCKET</key>
	<string>sellerapp-4b96d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007399282242:ios:655474b3b4936d0e136fdb</string>
</dict>
</plist>